:root{
    --very-dark-blue: hsl(225, 13%, 12%);
    --dark-grey: hsl(226, 6%, 40%);
    --medium-gray: hsl(223, 7%, 53%);
    --light-grey: hsl(225, 17%, 82%);
    --very-light-grey: hsl(230, 21%, 95%);
    --red-errors: hsl(0, 68%, 61%);

    --heading-xl-font-size: 250px;
    --heading-xl-line-spacing: 200px;
    /* also make sure it is bold */

    --heading-l-font-size: 96px;
    --heading-l-line-spacing: 80px;
    /* also make sure it is bold */

    --heading-med-font-size: 72px;
    --heading-med-line-spacing: 64px;
    /* also make sure it is bold */

    --heading-sm-font-size: 32px;
    --heading-sm-line-spacing: 40px;
    /* also make sure it is bold */


    --body-text-font-size: 18px;
    --body-text-line-spacing: 24px;

    --left-and-right-body-gutter: 15%;
}

a{
    text-decoration: none;
}
body{
    font-family: 'League Spartan', sans-serif;
}



.tablet-image{
    display: none;
}
.mobile-image{
    display: none;
}






/* this is the nav section ======================================================= */
.sideways-title {

    left: -100px;

    bottom: -140px;
    transform: rotate(90deg);

    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 540px;
    justify-content: space-between;


}

.sideways-title h1 {
    color: var(--light-grey);
    font-size: 19px;
    letter-spacing: 20px;

    font-weight: 300;
}

.straight-line {

    width: 140px;
    height: 1px;
    background-color: var(--light-grey);
}


nav {
    position: relative;
    padding-left: var(--left-and-right-body-gutter);
    margin: 100px 0px;
    display: flex;
    flex-direction: row;
    gap: 45px;
    align-items: center;
}

.nav-portfolio {
    color: var(--very-dark-blue);
}

.nav-portfolio::after {
    content: "a";
    font-size: 0;
    background-color: var(--very-dark-blue);
    height: 1px;
    width: 25px;
    position: absolute;
    bottom: 0px;
    transform: translateX(-43px);
}

nav a[href="../index.html"] {
    margin-right: 50px
}

#mobile-hamburger-button {
    display: none;
}

.mobile-navigation-list {
    display: none;
}
.mobile-navigation-list a{
    font-weight: bold;
}
nav a {
    font-size: var(--body-text-font-size);
    color: var(--medium-gray);
    letter-spacing: 1.5px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: var(--very-dark-blue);
}




/* 
this is the header section ====================================================================== */

header{
    margin: 0px var(--left-and-right-body-gutter) 100px var(--left-and-right-body-gutter);
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: end;

}
#about-header{
    position: absolute;
    font-size: var(--heading-xl-font-size);
    right: -80px;
    top: 80px;
    color: var(--very-light-grey);
    z-index: 2;
}
.left-div-header{
    position: relative;
    --clip-path-right: 30px;
}
.left-div-header::before{
    position: absolute;
    content: "";
    bottom: 0px;
    right: var(--clip-path-right);
    background-color: white;
    height: 540px;
    width: 150px;
    
  
}
.left-div-header::after{
    position: absolute;
    content: "";
    bottom: 0px;
    right: 0px;
    background-color: white;
    height: 100%;
    width: var(--clip-path-right);
    
    
}



.right-div-header h1::before{
    content: "";
    background-color: var(--light-grey);
    position: absolute;
    top: -50px;
    height: 1px;
    width: 70px;
}
.right-div-header h1{
    font-size: var(--heading-med-font-size);
    line-height: var(--heading-med-line-spacing);
    color: var(--very-dark-blue);
    margin-bottom: 50px;
    position: relative;
}
.right-div-header p{
    font-size: var(--body-text-font-size);
    line-height: var(--body-text-line-spacing);
    color: var(--dark-grey);
}







/* this is the main section ==================================================== */


main{
    margin: 0px var(--left-and-right-body-gutter) 150px var(--left-and-right-body-gutter);
}
#our-heritage{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 150px;

}

#our-heritage div h1{
    font-size: var(--heading-med-font-size);
    line-height: var(--heading-med-line-spacing);
    color: var(--very-dark-blue);
    margin-bottom: 60px;
    position: relative;
}
#our-heritage div h1::before{
    content: "";
    background-color: var(--light-grey);
    position: absolute;
    top: -50px;
    height: 1px;
    width: 70px;
}
#our-heritage div p{
    color: var(--dark-grey);
    font-size: var(--body-text-font-size);
    line-height: var(--body-text-line-spacing);

}

#the-leaders{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#the-leaders > h1{
    font-size: var(--heading-med-font-size);
    line-height: var(--heading-med-line-spacing);
    color: var(--very-dark-blue);
}
.the-leaders-right-div{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 35px;
}

.the-leaders-right-div > div a{
    display: none;
    position: absolute;
    top: calc(50% - 19px);
    --position-difference: 10%;
}
.twitter{
    left: calc(50% + var(--position-difference));
}
.linkedin{
    left: calc(50% - var(--position-difference));
}
.the-leaders-right-div > div:hover{
    
    cursor: pointer;

}
.the-leaders-right-div > div:hover a{
    display: inline-block;
}
.jake-richards div{
    background-image: url(../assets/about/desktop/avatar-jake.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 350px;
    height: 350px;
    margin-bottom: 25px;
    position: relative;
}

.thompson-smith div{
    background-image: url(../assets/about/desktop/avatar-thompson.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 350px;
    height: 350px;
    margin-bottom: 25px;
    position: relative;
}

.jackson-rourke div{
    background-image: url(../assets/about/desktop/avatar-jackson.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 350px;
    height: 350px;
    margin-bottom: 25px;
    position: relative;
}

.maria-simpson div{
    background-image: url(../assets/about/desktop/avatar-maria.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 350px;
    height: 350px;
    margin-bottom: 25px;
    position: relative;
}

.the-leaders-right-div h1{
    font-size: var(--heading-sm-font-size);
    color: var(--very-dark-blue);
    margin-bottom: 5px;
}
.the-leaders-right-div h2{
    color: var(--dark-grey);
    font-size: var(--body-text-font-size);
    font-weight: 300;
}





/* 
this is the footer section ================================================================= */


footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: var(--left-and-right-body-gutter);
    height: 200px;
    padding-right: var(--left-and-right-body-gutter);

}

.footer-logo-div {
    background-color: var(--very-dark-blue);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 60px;

    padding-right: 60px;

}



.footer-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--very-light-grey);
    height: 100%;
    flex: 1;
    padding-left: 80px;
    gap: 60px;
    margin-right: 130px;


}

.footer-nav a {
    font-size: var(--body-text-font-size);
    color: var(--medium-gray);
    letter-spacing: 1.5px;
    text-decoration: none;
    font-weight: bold;
}

.footer-nav a:hover {
    color: var(--very-dark-blue);
}

.footer-see-portfolio {
    color: var(--very-light-grey) !important;
    background-color: var(--very-dark-blue);
    font-weight: bold;
    padding: 35px;
    letter-spacing: 1px;
    gap: 25px;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    transform: translateX(130px);
    
}

.footer-see-portfolio:hover {
    background-color: var(--medium-gray);
}
















/* this is the start of the media queries ======================================== */


/* this is between tablet and desktop minor changes ======================================================== */
@media screen and (min-width: 1439px) and (max-width: 1700px) {
    .sideways-title {
        left: -120px;
    }
}


/* it goes from largest to smallest devices ============================================================================================= */

/* this is for tablet =============================================================================================== */

@media screen and (min-width: 768px) and (max-width: 1439px) {
    :root{
        --heading-xl-font-size: 150px;
        --left-and-right-body-gutter: 10%;
        
    }
    .tablet-image{
        display: inline-block;
    }
    .desktop-image{
        display: none;
    }
    
    

    .sideways-title {
        left: -130px;
        width: 350px;
        bottom: -40px;
        gap: 85px;
    }

    .sideways-title h1 {
        font-size: 20px;
        letter-spacing: 20px;
    }

    .straight-line {
        width: 180px;
    }


    /* this is the header section ======================================================= */

    header{
        flex-direction: column;
        align-items: center;
    }
    header {
        flex-direction: column;
        align-items: center;
        position: relative;
    }

    #about-header {
        left: 15%;
        top: 30%;
        letter-spacing: 2px;
    }

    .left-div-header {
        width: 100%;
        max-height: 750px;
    }

    .left-div-header img {
        width: 100%;
        max-height: 750px;
    }

    .left-div-header::before {
        display: none;
    }

    .left-div-header::after {
        width: 90%;
        height: 65%;
    }
    .right-div-header{
        position: absolute;
     right: 0%;
       bottom: 2%;
       width: 80%;
    }   
    .right-div-header h1::before{
        top: -80px;
    }

    /* this is the main section ======================================================= */

    #our-heritage div:nth-child(2){
        display: none;
    }
    #the-leaders{
        flex-direction: column;
    }
    #the-leaders > h1{
        margin-bottom: 60px;
    }
    .the-leaders-right-div{
       
        --picture-width: 250px;
        --width-increase: 10px;
       gap: calc(30px - (var(--width-increase) * 2));
       row-gap: 70px;
    }
    .jake-richards div{
        height: 250px;
        width: calc(var(--picture-width) + var(--width-increase));
    }
    .thompson-smith div{
        height: 250px;
        width: calc(var(--picture-width) + var(--width-increase));
    }
    .jackson-rourke div{
        height: 250px;
        width: calc(var(--picture-width) + var(--width-increase));
    }
    .maria-simpson div{
        height: 250px;
        width: calc(var(--picture-width) + var(--width-increase));
    }




    /* this is the footer section ============================================= */

    footer {
        padding: 0;
        height: 130px;
        width: calc(100% - 200px);
        position: relative;

    }

    .footer-logo-div {
        padding-left: 30px;
        padding-right: 30px;
    }

    .footer-logo-div img {
        width: 65px;
    }

    .footer-nav {
        margin-right: 0;
        padding-left: 45px;
        gap: 45px;

    }

    .footer-nav a {
        font-size: 16px;
    }

    .footer-see-portfolio {
        transform: none;
        padding-top: 27px;
        padding-bottom: 27px;
        position: absolute;
        right: -200px;

    }



}




/* this is the mobile view ================================================================================================== */
@media screen and (max-width: 767px) {
    :root{
        --heading-xl-font-size: 150px;
        --heading-med-font-size: 50px;
        --heading-med-line-spacing: 45px;
        
    }
    .tablet-image{
        display: none
    }
    .desktop-image{
        display: none;
    }
    .mobile-image{
        display:inline-block;
    }
    .sideways-title {
        display: none !important;
    }

    nav {
        margin: 40px 0px;
        padding: 0px var(--left-and-right-body-gutter);
        justify-content: space-between;
    }

    nav img {
        margin-right: 0px;
    }

    #mobile-hamburger-button {
        display: inline-block;
        border: none;
        background-color: white;
    }

    #mobile-hamburger-button:hover {
        cursor: pointer;
    }

    .mobile-navigation-list {
        display: none;
        flex-direction: column;
        background-color: var(--very-light-grey);
        position: absolute;
        top: 0px;
        gap: 25px;
        --left-pixel-amount: 30px;
        left: var(--left-pixel-amount);
        width: calc(100% - var(--left-pixel-amount));
        padding-left: 45px;
        padding-top: 50px;
        padding-bottom: 50px;



    }

    .mobile-navigation-list a {
        padding: 0;
        background-color: var(--very-light-grey);
        font-size: var(--heading-sm-font-size);
        color: var(--very-dark-blue) !important;

    }

    nav a {
        display: none;
    }
    nav a[href="../index.html"]{
        display: inline-block;
    }
     /* this is the header section ======================================================= */

     header{
        flex-direction: column;
        align-items: center;
        margin: 0 0 100px 0;
    }
    #about-header{
        display: none;
    }
    .left-div-header{
        margin-bottom: 20px;
        width: 100%;
        
    }
    .left-div-header img{
        width: 100%;
    }
    .left-div-header::before{
        display: none;
    }
    .left-div-header::after{
        width: 90%;
        height: 20%;
        left: 0px;
    }
    .right-div-header{
        margin: 0 var(--left-and-right-body-gutter) 0 var(--left-and-right-body-gutter);
    }
    .right-div-header h1::before{
        display: none;
    }
    /* this is the main section ======================================================= */

    #our-heritage div:nth-child(2){
        display: none;
    }
    #the-leaders{
        flex-direction: column;
    }
    #the-leaders > h1{
        margin-bottom: 60px;
    }
    .the-leaders-right-div{
       
        grid-template-columns: auto;
       row-gap: 70px;
    }
    .jake-richards div{
        height: 250px;
        width: auto;
        
    }
    .thompson-smith div{
        height: 250px;
        width: auto;
       
    }
    .jackson-rourke div{
        height: 250px;
        width: auto;
       
    }
    .maria-simpson div{
        height: 250px;
        width: auto;
       
    }


    /* this is the footer section ========================================================== */

    footer {
        flex-direction: column;
        background-color: var(--very-light-grey);
        height: auto;
    }


    .footer-logo-div {
        margin-bottom: 0px;
        padding: 50px 30px 50px 30px;
        transform: translateY(-70px);
    }

    .footer-nav {
        flex-direction: column;
        padding-left: 0;
        margin-right: 0px;

    }



    .footer-see-portfolio {
        margin-left: 0px;
        transform: none;
        padding: 30px;
       font-size: 17px !important;
       align-items: end;
    }

}