:root{
    --very-dark-blue: hsl(225, 13%, 12%);
    --dark-grey: hsl(226, 6%, 40%);
    --medium-gray: hsl(223, 7%, 53%);
    --light-grey: hsl(225, 17%, 82%);
    --very-light-grey: hsl(230, 21%, 95%);
    --red-errors: hsl(0, 68%, 61%);

    --heading-xl-font-size: 250px;
    --heading-xl-line-spacing: 200px;
    /* also make sure it is bold */

    --heading-l-font-size: 96px;
    --heading-l-line-spacing: 80px;
    /* also make sure it is bold */

    --heading-med-font-size: 72px;
    --heading-med-line-spacing: 64px;
    /* also make sure it is bold */

    --heading-sm-font-size: 32px;
    --heading-sm-line-spacing: 40px;
    /* also make sure it is bold */


    --body-text-font-size: 18px;
    --body-text-line-spacing: 24px;

    --left-and-right-body-gutter: 15%;
}

a{
    text-decoration: none;
}
body{
    font-family: 'League Spartan', sans-serif;
}


.tablet-image{
    display: none;
}
.mobile-image{
    display: none;
}





/* this is the nav section ======================================================= */
.sideways-title {

    left: -100px;

    bottom: -140px;
    transform: rotate(90deg);

    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 540px;
    justify-content: space-between;


}

.sideways-title h1 {
    color: var(--light-grey);
    font-size: 19px;
    letter-spacing: 20px;

    font-weight: 300;
}

.straight-line {

    width: 140px;
    height: 1px;
    background-color: var(--light-grey);
}


nav {
    position: relative;
    padding-left: var(--left-and-right-body-gutter);
    margin: 100px 0px;
    display: flex;
    flex-direction: row;
    gap: 45px;
    align-items: center;
}

.nav-portfolio {
    color: var(--very-dark-blue);
}

.nav-portfolio::after {
    content: "a";
    font-size: 0;
    background-color: var(--very-dark-blue);
    height: 1px;
    width: 25px;
    position: absolute;
    bottom: 0px;
    transform: translateX(-43px);
}

nav a[href="../index.html"] {
    margin-right: 50px
}

#mobile-hamburger-button {
    display: none;
}

.mobile-navigation-list {
    display: none;
}

nav a {
    font-size: var(--body-text-font-size);
    color: var(--medium-gray);
    letter-spacing: 1.5px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: var(--very-dark-blue);
}

/* this is the header section ================================================= */

header{
    margin: 0px var(--left-and-right-body-gutter) 100px var(--left-and-right-body-gutter);
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: end;

}
#about-header{
    position: absolute;
    font-size: var(--heading-xl-font-size);
    right: -80px;
    top: 80px;
    color: var(--very-light-grey);
    z-index: 2;
}
.left-div-header{
    position: relative;
    --clip-path-right: 30px;
}
.left-div-header::before{
    position: absolute;
    content: "";
    bottom: 0px;
    right: var(--clip-path-right);
    background-color: white;
    height: 540px;
    width: 150px;
    
  
}
.left-div-header::after{
    position: absolute;
    content: "";
    bottom: 0px;
    right: 0px;
    background-color: white;
    height: 100%;
    width: var(--clip-path-right);
    
    
}



.right-div-header h1::before{
    content: "";
    background-color: var(--light-grey);
    position: absolute;
    top: -50px;
    height: 1px;
    width: 70px;
}
.right-div-header h1{
    font-size: var(--heading-med-font-size);
    line-height: var(--heading-med-line-spacing);
    color: var(--very-dark-blue);
    margin-bottom: 50px;
    position: relative;
}
.right-div-header p{
    font-size: var(--body-text-font-size);
    line-height: var(--body-text-line-spacing);
    color: var(--dark-grey);
}







/* this is the main section ==================================================== */

main{
    margin-left: var(--left-and-right-body-gutter);
    margin-right: var(--left-and-right-body-gutter);
    margin-bottom: 150px;
}


/* this is the contact details section ====================================== */
#contact-details{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 150px;
}


.contact-details-left-div h1{
    font-size: var(--heading-med-font-size);
    line-height: var(--heading-med-line-spacing);
    color: var(--very-dark-blue);
    position: relative;
}
.contact-details-left-div h1::before{
    content: "";
    background-color: var(--light-grey);
    position: absolute;
    top: -50px;
    height: 1px;
    width: 70px;
}

.contact-details-right-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 90px;
    transform: translateY(10px);
}


#main-office h1{
    font-size: var(--body-text-font-size);
    color: var(--dark-grey);
    margin-bottom: 30px;
}
#office-II h1{
    font-size: var(--body-text-font-size);
    color: var(--dark-grey);
    margin-bottom: 30px;
}
#main-office div:nth-child(2){
    margin-bottom: 80px;
}
#main-office div:nth-child(2) h2{
    margin-bottom: 10px;
    color: var(--medium-gray);
    font-weight: 300 ;
    font-size: var(--body-text-font-size);

}
#office-II div:nth-child(2){
    margin-bottom: 80px;
}
#office-II div:nth-child(2) h2{
    margin-bottom: 10px;
    color: var(--medium-gray);
    font-weight: 300;
    font-size: var(--body-text-font-size);
}

#main-office div:nth-child(3){
    display: flex;
    flex-direction: row;
    gap: 20px;
}
#office-II div:nth-child(3){
    display: flex;
    flex-direction: row;
    gap: 20px;
}


#main-office a{
    font-size: var(--body-text-font-size);
    color: var(--very-dark-blue);
    font-weight: bold;

}
#office-II a{
    font-size: var(--body-text-font-size);
    color: var(--very-dark-blue);
    font-weight: bold;
}


#main-office a:hover{
    text-decoration: underline;
    
}
#office-II a:hover{
    text-decoration: underline;
}



/* 
this is the map section in main --======================================================== */
#map{
    margin-bottom: 150px;
}

/* 
this is the form section in main ============================================================= */

#form-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#form-section h1{
    font-size: var(--heading-med-font-size);
    line-height: var(--heading-med-line-spacing);
    color: var(--very-dark-blue);
}
.form-section-right-div{
    width: 60%;
    transform: translateY(-25px);
}
.form-group {
    position: relative;
    margin-bottom: 30px;
  }

 
  textarea:hover{
    cursor: pointer;
  }
  
  input::placeholder, textarea::placeholder {
    
   
    color: var(--light-grey);
    font-size: 23px;
   letter-spacing: 1.5px;
  }
 
  input::placeholder:hover{
    cursor: pointer;
  } 
  input:hover{
    cursor: pointer;
  }
  textarea {
    resize: none;
  }
  .last{
    margin-bottom: 0;
  }
  .last button{
    margin-left: 0;
    transform: translateY(-5px);
    padding: 30px;
   border: none;
   text-align: end;
  margin-left: auto;
  }
  .last button:hover{
    cursor: pointer;
  }
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--very-dark-blue);
    padding: 25px 40px;
    color: var(--very-dark-blue);
    font-size: 23px;
    font-weight: 600;
  }
  input::placeholder{
    margin-bottom: 25px;
  }
  input[type="text"]:focus,
  input[type="email"]:focus,
  textarea:focus {
    outline: none;
    border-bottom: 3px solid var(--very-dark-blue);
    z-index: 5;
    cursor: text;
  }
 
  #message{
    padding-bottom: 0;
    padding-top: 15px;
  }

  
  



/* 
this is the footer section ================================================================= */


footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: var(--left-and-right-body-gutter);
    height: 200px;
    padding-right: var(--left-and-right-body-gutter);

}

.footer-logo-div {
    background-color: var(--very-dark-blue);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 60px;

    padding-right: 60px;

}



.footer-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--very-light-grey);
    height: 100%;
    flex: 1;
    padding-left: 80px;
    gap: 60px;
    margin-right: 130px;


}

.footer-nav a {
    font-size: var(--body-text-font-size);
    color: var(--medium-gray);
    letter-spacing: 1.5px;
    text-decoration: none;
    font-weight: bold;
}

.footer-nav a:hover {
    color: var(--very-dark-blue);
}

.footer-see-portfolio {
    color: var(--very-light-grey) !important;
    background-color: var(--very-dark-blue);
    font-weight: bold;
    padding: 35px;
    letter-spacing: 1px;
    gap: 25px;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    transform: translateX(130px);
    
}

.footer-see-portfolio:hover {
    background-color: var(--medium-gray);
}
















/* this is the start of the media queries ======================================== */


/* this is between tablet and desktop minor changes ======================================================== */
@media screen and (min-width: 1440px) and (max-width: 1700px) {
    .sideways-title {
        left: -120px;
    }
}


/* it goes from largest to smallest devices ============================================================================================= */

/* this is for tablet =============================================================================================== */



@media screen and (min-width: 768px) and (max-width: 1439px) {
    :root{
        --heading-xl-font-size: 150px;
    }
    .tablet-image{
        display: inline-block;
    }
    .desktop-image{
        display: none;
    }
    





    .sideways-title {
        left: -130px;
        width: 350px;
        bottom: -40px;
        gap: 85px;
    }

    .sideways-title h1 {
        font-size: 20px;
        letter-spacing: 20px;
    }

    .straight-line {
        width: 180px;
    }


    /* this is the header section ===================================================== */
    header{
        flex-direction: column;
        align-items: center;
    }
    #about-header{
        
    }
    
    .left-div-header::before{
        display: none;
    }
    .left-div-header::after{
        width: 60%;
        height: 50%;
    }

    /* this is the main section ======================================================= */
    #contact-details{
        flex-direction: column;
    }
    .contact-details-left-div{
        margin-bottom: 50px;
    }
    .contact-details-right-div{
        flex-direction: column;
        gap:0px;
    }
    #main-office{
        position: relative;
    }
    #main-office div:nth-child(3){
        position: absolute;
        right: 0px;
        bottom: 50%;
    }
    #office-II{
        position: relative;
    }
    #office-II div:nth-child(3){
        position: absolute;
        right: 0px;
        bottom: 50%;
    }

    #form-section{
        flex-direction: column;
        gap: 80px;
    }
    #form-section br{
        display: none;
    }
    .form-section-right-div{
        width: 100%;
    }
    .last button{
        position: static;
    }

    

    /* this is the footer section ============================================= */

    footer {
        padding: 0;
        height: 130px;
        width: calc(100% - 200px);
        position: relative;

    }

    .footer-logo-div {
        padding-left: 30px;
        padding-right: 30px;
    }

    .footer-logo-div img {
        width: 65px;
    }

    .footer-nav {
        margin-right: 0;
        padding-left: 45px;
        gap: 45px;

    }

    .footer-nav a {
        font-size: 16px;
    }

    .footer-see-portfolio {
        transform: none;
        padding-top: 27px;
        padding-bottom: 27px;
        position: absolute;
        right: -200px;

    }



}




/* this is the mobile view ================================================================================================== */
@media screen and (max-width: 767px) {
    :root{
        --heading-xl-font-size: 150px;
        --heading-med-font-size: 50px;
        --heading-med-line-spacing: 45px;
    }
    .tablet-image{
        display: none
    }
    .desktop-image{
        display: none;
    }
    .mobile-image{
        display:inline-block;
    }

    .sideways-title {
        display: none !important;
    }

    nav {
        margin: 40px 0px;
        padding: 0px var(--mobile-left-and-right-body-gutter);
        justify-content: space-between;
    }

    nav img {
        margin-right: 0px;
    }

    #mobile-hamburger-button {
        display: inline-block;
        border: none;
        background-color: white;
    }

    #mobile-hamburger-button:hover {
        cursor: pointer;
    }

    .mobile-navigation-list {
        display: none;
        flex-direction: column;
        background-color: var(--very-light-grey);
        position: absolute;
        top: 0px;
        gap: 25px;
        --left-pixel-amount: 30px;
        left: var(--left-pixel-amount);
        width: calc(100% - var(--left-pixel-amount));
        padding-left: 45px;
        padding-top: 50px;
        padding-bottom: 50px;



    }

    .mobile-navigation-list a {
        padding: 0;
        background-color: var(--very-light-grey);
        font-size: var(--heading-sm-font-size);
        color: var(--very-dark-blue) !important;

    }

    nav a {
        display: none;
    }
    
    /* this is the header section ===================================================== */
    header{
        flex-direction: column;
        align-items: center;
        margin: 0 0 100px 0;
    }
    #about-header{
        display: none;
    }
    .left-div-header{
        margin-bottom: 20px;
    }
    
    .left-div-header::before{
        display: none;
    }
    .left-div-header::after{
        width: 90%;
        height: 20%;
        left: 0px;
    }
    .right-div-header{
        margin: 0 var(--left-and-right-body-gutter) 0 var(--left-and-right-body-gutter);
    }
    .right-div-header h1::before{
        display: none;
    }

    /* this is the main section ======================================================= */
    main{
        margin-left: 0;
        margin-right: 0;
    }
    #contact-details{
        flex-direction: column;
        margin-right: var(--left-and-right-body-gutter);
        margin-left: var(--left-and-right-body-gutter);

    }
    .contact-details-left-div{
        margin-bottom: 50px;
    }
    .contact-details-right-div{
        flex-direction: column;
        gap:0px;
    }
    #main-office{
        position: relative;
    }
    #main-office div:nth-child(3){
        position: absolute;
        right: 0px;
        bottom: 50%;
    }
    #office-II{
        position: relative;
    }
    #office-II div:nth-child(3){
        position: absolute;
        right: 0px;
        bottom: 50%;
    }

    #form-section{
        flex-direction: column;
        gap: 80px;
        margin-left: var(--left-and-right-body-gutter);
        margin-right: var(--left-and-right-body-gutter);
    }
    #form-section br{
        display: none;
    }
    .form-section-right-div{
        width: 100%;
    }
    .last button{
        position: static;
    }
    #main-office{
        margin-bottom: 50px;
    }
    #main-office div:nth-child(2){
        margin-bottom: 50px;
    }
    #main-office div:nth-child(3){
        position: static;
    }
    #office-II div:nth-child(2){
        margin-bottom: 50px;
    }
    #office-II div:nth-child(3){
        position: static;
    }
    

    /* this is the footer section ========================================================== */

    footer {
        flex-direction: column;
        background-color: var(--very-light-grey);
        height: auto;
    }


    .footer-logo-div {
        margin-bottom: 0px;
        padding: 50px 30px 50px 30px;
        transform: translateY(-70px);
    }

    .footer-nav {
        flex-direction: column;
        padding-left: 0;
        margin-right: 0px;

    }



    .footer-see-portfolio {
        margin-left: 0px;
        transform: none;
    }

}