:root {
    --very-dark-blue: hsl(225, 13%, 12%);
    --dark-grey: hsl(226, 6%, 40%);
    --medium-gray: hsl(223, 7%, 53%);
    --light-grey: hsl(225, 17%, 82%);
    --very-light-grey: hsl(230, 21%, 95%);
    --red-errors: hsl(0, 68%, 61%);

    --heading-xl-font-size: 250px;
    --heading-xl-line-spacing: 200px;
    /* also make sure it is bold */

    --heading-l-font-size: 96px;
    --heading-l-line-spacing: 80px;
    /* also make sure it is bold */

    --heading-med-font-size: 72px;
    --heading-med-line-spacing: 64px;
    /* also make sure it is bold */

    --heading-sm-font-size: 32px;
    --heading-sm-line-spacing: 40px;
    /* also make sure it is bold */


    --body-text-font-size: 18px;
    --body-text-line-spacing: 24px;

    --left-and-right-body-gutter: 15%;
}

a {
    text-decoration: none;
}

body {
    font-family: 'League Spartan', sans-serif;
}



/* this is the nav section ======================================================= */
.sideways-title {

    left: -100px;

    bottom: -140px;
    transform: rotate(90deg);

    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 540px;
    justify-content: space-between;


}

.sideways-title h1 {
    color: var(--light-grey);
    font-size: 19px;
    letter-spacing: 20px;

    font-weight: 300;
}

.straight-line {

    width: 140px;
    height: 1px;
    background-color: var(--light-grey);
}


nav {
    position: relative;
    padding-left: var(--left-and-right-body-gutter);
    margin: 100px 0px;
    display: flex;
    flex-direction: row;
    gap: 45px;
    align-items: center;
}

.nav-portfolio {
    color: var(--very-dark-blue);
}

.nav-portfolio::after {
    content: "a";
    font-size: 0;
    background-color: var(--very-dark-blue);
    height: 1px;
    width: 25px;
    position: absolute;
    bottom: 0px;
    transform: translateX(-43px);
}

nav a[href="../index.html"] {
    margin-right: 50px
}

#mobile-hamburger-button {
    display: none;
}

.mobile-navigation-list {
    display: none;
}

nav a {
    font-size: var(--body-text-font-size);
    color: var(--medium-gray);
    letter-spacing: 1.5px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: var(--very-dark-blue);
}





/* this is the main section ==================================================== */

main {
    margin-left: var(--left-and-right-body-gutter);
    margin-right: var(--left-and-right-body-gutter);
    margin-bottom: 150px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 30px;
    
}

.item {
    
   
    padding: 450px 0px 0px 40px;
    text-decoration: none;
    height: 550px;
    /* Removes the default underline on anchor links */
    
    /* Sets the text color for the anchor links */
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../assets/portfolio/desktop/image-seraph.jpg);
  
}

.item div h1{
    font-size: var(--heading-sm-font-size);
    color: var(--very-light-grey);
    margin-bottom: 5px;
    
   
  
}
.item div h2{
    font-size: var(--body-text-font-size);
    color: var(--light-grey);
    font-weight: 300;
   
 
}
.item:nth-child(1){
    background-image: url(../assets/portfolio/desktop/image-seraph.jpg);
    
}






/* 
this is the footer section ================================================================= */


footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: var(--left-and-right-body-gutter);
    height: 200px;
    padding-right: var(--left-and-right-body-gutter);

}

.footer-logo-div {
    background-color: var(--very-dark-blue);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 60px;

    padding-right: 60px;

}



.footer-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--very-light-grey);
    height: 100%;
    flex: 1;
    padding-left: 80px;
    gap: 60px;
    margin-right: 130px;


}

.footer-nav a {
    font-size: var(--body-text-font-size);
    color: var(--medium-gray);
    letter-spacing: 1.5px;
    text-decoration: none;
    font-weight: bold;
}

.footer-nav a:hover {
    color: var(--very-dark-blue);
}

.footer-see-portfolio {
    color: var(--very-light-grey) !important;
    background-color: var(--very-dark-blue);
    font-weight: bold;
    padding: 35px;
    letter-spacing: 1px;
    gap: 25px;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    transform: translateX(130px);
    
}

.footer-see-portfolio:hover {
    background-color: var(--medium-gray);
}
















/* this is the start of the media queries ======================================== */


/* this is between tablet and desktop minor changes ======================================================== */
@media screen and (min-width: 1440px) and (max-width: 1700px) {
    .sideways-title {
        left: -120px;
    }
}


/* it goes from largest to smallest devices ============================================================================================= */

/* this is for tablet =============================================================================================== */



@media screen and (min-width: 768px) and (max-width: 1439px) {


    .sideways-title {
        left: -130px;
        width: 350px;
        bottom: -40px;
        gap: 85px;
    }

    .sideways-title h1 {
        font-size: 20px;
        letter-spacing: 20px;
    }

    .straight-line {
        width: 180px;
    }

    
    
    
    /* this is the main section ======================================================= */
    .grid-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .item{
        background-image: url(../assets/portfolio/tablet/image-228b.jpg);
        padding-top: 150px;
        height: 230px;
    }

    





    /* this is the footer section ============================================= */

    footer {
        padding: 0;
        height: 130px;
        width: calc(100% - 200px);
        position: relative;

    }

    .footer-logo-div {
        padding-left: 30px;
        padding-right: 30px;
    }

    .footer-logo-div img {
        width: 65px;
    }

    .footer-nav {
        margin-right: 0;
        padding-left: 45px;
        gap: 45px;

    }

    .footer-nav a {
        font-size: 16px;
    }

    .footer-see-portfolio {
        transform: none;
        padding-top: 27px;
        padding-bottom: 27px;
        position: absolute;
        right: -200px;

    }



}




/* this is the mobile view ================================================================================================== */
@media screen and (max-width: 767px) {

    .sideways-title {
        display: none !important;
    }

    nav {
        margin: 40px 0px;
        padding: 0px var(--mobile-left-and-right-body-gutter);
        justify-content: space-between;
    }

    nav img {
        margin-right: 0px;
    }

    #mobile-hamburger-button {
        display: inline-block;
        border: none;
        background-color: white;
    }

    #mobile-hamburger-button:hover {
        cursor: pointer;
    }

    .mobile-navigation-list {
        display: none;
        flex-direction: column;
        background-color: var(--very-light-grey);
        position: absolute;
        top: 0px;
        gap: 25px;
        --left-pixel-amount: 30px;
        left: var(--left-pixel-amount);
        width: calc(100% - var(--left-pixel-amount));
        padding-left: 45px;
        padding-top: 50px;
        padding-bottom: 50px;



    }

    .mobile-navigation-list a {
        padding: 0;
        background-color: var(--very-light-grey);
        font-size: var(--heading-sm-font-size);
        color: var(--very-dark-blue) !important;

    }

    nav a {
        display: none;
    }

    nav a[href="../index.html"]{
        display: inline-block;
    }




    /* this is the main section ---------------------------------------------------------------- */


    

    .grid-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .item{
        background-image: url(../assets/portfolio/mobile/image-228b.jpg);
        padding-left: 0px;
        padding-top: 120px;
        height: 200px;
        overflow-x: scroll;
    }
    .item div{
        white-space: nowrap;
        text-indent: 30px;
    }
    .item div h1{
        font-size: 27px;
    }


    /* this is the footer section ========================================================== */

    footer {
        flex-direction: column;
        background-color: var(--very-light-grey);
        height: auto;
    }


    .footer-logo-div {
        margin-bottom: 0px;
        padding: 50px 30px 50px 30px;
        transform: translateY(-70px);
    }

    .footer-nav {
        flex-direction: column;
        padding-left: 0;
        margin-right: 0px;

    }



    .footer-see-portfolio {
        margin-left: 0px;
        transform: none;
    }

}