:root {
    --very-dark-blue: hsl(225, 13%, 12%);
    --dark-grey: hsl(226, 6%, 40%);
    --medium-gray: hsl(223, 7%, 53%);
    --light-grey: hsl(225, 17%, 82%);
    --very-light-grey: hsl(230, 21%, 95%);
    --red-errors: hsl(0, 68%, 61%);

    --heading-xl-font-size: 250px;
    --heading-xl-line-spacing: 200px;
    /* also make sure it is bold */

    --heading-l-font-size: 96px;
    --heading-l-line-spacing: 80px;
    /* also make sure it is bold */

    --heading-med-font-size: 72px;
    --heading-med-line-spacing: 64px;
    /* also make sure it is bold */

    --heading-sm-font-size: 32px;
    --heading-sm-line-spacing: 40px;
    /* also make sure it is bold */


    --body-text-font-size: 18px;
    --body-text-line-spacing: 24px;

    --left-and-right-body-gutter: 15%;

}

a {
    text-decoration: none;
}

body {
    font-family: 'League Spartan', sans-serif;
}



/* this is the top of the page ---------------------------------------------------------------------------------- */
nav {
    position: relative;
    padding-left: var(--left-and-right-body-gutter);
    margin: 100px 0px;
    display: flex;
    flex-direction: row;
    gap: 45px;
    align-items: center;
}

nav a[href="./index.html"] {
    margin-right: 50px
}

#mobile-hamburger-button {
    display: none;
}

.mobile-navigation-list {
    display: none;
}

nav a {
    font-size: var(--body-text-font-size);
    color: var(--medium-gray);
    letter-spacing: 1.5px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: var(--very-dark-blue);
}

.sideways-title {

    left: 0px;

    bottom: -60px;
    transform: rotate(90deg);

    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 380px;
    justify-content: space-between;


}

.sideways-title h1 {
    color: var(--light-grey);
    font-size: 25px;
    letter-spacing: 25px;

    font-weight: 300;
}

.straight-line {

    width: 140px;
    height: 1px;
    background-color: var(--light-grey);
}



/* this is the header section ----------------------------------------------------------------------- */


header {
    background-image: url(../assets/home/desktop/dark-paramour-tower.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 100px;
    margin-left: var(--left-and-right-body-gutter);
    margin-right: var(--left-and-right-body-gutter);
    height: 850px;
    padding: 200px;
    position: relative;


}

.header-top-div {
    height: 100%;
}

header div h1 {
    font-size: var(--heading-l-font-size);
    color: var(--very-light-grey);

}

header div p {
    font-size: var(--body-text-font-size);
    color: var(--very-light-grey);
    line-height: var(--body-text-line-spacing);
    margin-bottom: 60px;
}

header div a {

    color: var(--very-light-grey) !important;
    background-color: var(--very-dark-blue);
    font-weight: bold;
    padding: 35px;
    letter-spacing: 1px;
    gap: 25px;
    width: max-content;
    display: flex;
    flex-direction: row;
    align-items: center;
}

header div a:hover {
    background-color: var(--medium-gray);
}


.header-bottom-div {
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: white;
    transform: translateX(calc(100% / 4 * -1));
    display: flex;

}

.header-bottom-div button {
    color: var(--medium-gray);
    background-color: white;
    font-weight: bold;
    padding: 35px;
    letter-spacing: 1px;
    outline: none;
    border: none;
    max-width: 85px;
}

#button-one {
    background-color: var(--very-dark-blue);
    color: var(--very-light-grey);
}

.header-bottom-div button:hover {
    cursor: pointer;
    background-color: var(--very-light-grey);

}


/* this is the main part -------------------------------------------------------------- */

main {
    padding-left: var(--left-and-right-body-gutter);
    padding-right: var(--left-and-right-body-gutter);
    position: relative;
}

#main-welcome-h1 {
    font-size: var(--heading-xl-font-size);
    color: var(--very-light-grey);
    position: absolute;
    top: 0px;

}

#welcome-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 100px;
}

.welcome-section-bottom-div {
    margin-top: 110px;
}

.welcome-section-top-div {
    margin-top: 190px;
    padding-left: 180px;
}

#welcome-section h1 {
    font-size: var(--heading-med-font-size);
    line-height: var(--heading-med-line-spacing);
    color: var(--very-dark-blue);
    margin-bottom: 40px;
}

#welcome-section p {
    font-size: var(--body-text-font-size);
    line-height: var(--body-text-line-spacing);
    color: var(--medium-gray);
    width: 70%;
}









#about-us-section {
    background-image: url(../assets/home/desktop/dark-image-small-team.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;
    padding-left: 200px;
    padding-top: 160px;
    margin-bottom: 100px;

}



#about-us-section h1 {
    font-size: var(--heading-med-font-size);
    line-height: var(--heading-med-line-spacing);
    color: var(--very-light-grey);
    margin-bottom: 70px;

}

#about-us-section a {


    color: var(--very-light-grey) !important;
    background-color: var(--very-dark-blue);
    font-weight: bold;
    padding: 35px;
    letter-spacing: 1px;
    gap: 25px;
    width: max-content;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#about-us-section a:hover {
    background-color: var(--medium-gray);
}










#featured-section {
    margin-bottom: 100px;
}



.featured-section-top-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 40px;

}

.featured-section-top-section h1 {
    font-size: var(--heading-med-font-size);
    color: var(--very-dark-blue);
}

.featured-section-top-section a {


    color: var(--very-light-grey) !important;
    background-color: var(--very-dark-blue);
    font-weight: bold;
    padding: 35px;
    letter-spacing: 1px;
    gap: 25px;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.featured-section-top-section a:hover {
    background-color: var(--medium-gray);
}

.mobile-see-all-anchor {

    color: var(--very-light-grey) !important;
    background-color: var(--very-dark-blue);
    font-weight: bold;
    padding: 35px;
    letter-spacing: 1px;
    gap: 25px;


    flex-direction: row;
    align-items: center;
    display: none;
}






.featured-section-bottom-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.featured-section-bottom-section-div {
    width: 31.5%;
    height: 500px;
    position: relative;
    overflow: hidden;
}

.Project-Del-Sol {
    background-image: url(../assets/portfolio/desktop/dark-image-del-sol-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.B-Tower {
    background-image: url(../assets/portfolio/desktop/dark-image-228b-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.Le-Prototype {
    background-image: url(../assets/portfolio/desktop/dark-image-prototype-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}



.featured-section-bottom-section h1 {
    font-size: var(--heading-xl-font-size);
    color: var(--light-grey);
    position: absolute;
    right: -15px;
    top: 25px;
}

.featured-section-bottom-section-div div {
    padding-top: 400px;
    padding-left: 50px;
}

.featured-section-bottom-section h2 {
    font-size: var(--heading-sm-font-size);
    color: var(--very-light-grey);
    margin-bottom: 5px;
}

.featured-section-bottom-section a {
    font-size: var(--body-text-font-size);
    color: var(--light-grey);
}

.featured-section-bottom-section a:hover {
    text-decoration: underline;
}







/* this is the footer section ------------------------------------------------------------------------- */

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: var(--left-and-right-body-gutter);
    height: 200px;
    padding-right: var(--left-and-right-body-gutter);

}

.footer-logo-div {
    background-color: var(--very-dark-blue);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 60px;

    padding-right: 60px;

}



.footer-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--very-light-grey);
    height: 100%;
    flex: 1;
    padding-left: 80px;
    gap: 60px;
    margin-right: 130px;


}

.footer-nav a {
    font-size: var(--body-text-font-size);
    color: var(--medium-gray);
    letter-spacing: 1.5px;
    text-decoration: none;
    font-weight: bold;
}

.footer-nav a:hover {
    color: var(--very-dark-blue);
}

.footer-see-portfolio {
    color: var(--very-light-grey) !important;
    background-color: var(--very-dark-blue);
    font-weight: bold;
    padding: 35px;
    letter-spacing: 1px;
    gap: 25px;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    transform: translateX(130px);
}

.footer-see-portfolio:hover {
    background-color: var(--medium-gray);
}








/* 
this is the start of the media queries ------------------------------------------------------------------------ */

/* this is between tablet and desktop minor changes ======================================================== */
@media screen and (min-width: 1440px) and (max-width: 1700px) {
    .sideways-title{
        left: -80px;
    }
}

/* it goes from largest to smallest devices ============================================================================================= */

/* this is for tablet =============================================================================================== */

@media screen and (min-width: 768px) and (max-width: 1439px) {
    :root {
        --very-dark-blue: hsl(225, 13%, 12%);
        --dark-grey: hsl(226, 6%, 40%);
        --medium-gray: hsl(223, 7%, 53%);
        --light-grey: hsl(225, 17%, 82%);
        --very-light-grey: hsl(230, 21%, 95%);
        --red-errors: hsl(0, 68%, 61%);

        --heading-xl-font-size: 170px;
        --heading-xl-line-spacing: 200px;
        /* also make sure it is bold */

        --heading-l-font-size: 96px;
        --heading-l-line-spacing: 80px;
        /* also make sure it is bold */

        --heading-med-font-size: 72px;
        --heading-med-line-spacing: 64px;
        /* also make sure it is bold */

        --heading-sm-font-size: 32px;
        --heading-sm-line-spacing: 40px;
        /* also make sure it is bold */


        --body-text-font-size: 18px;
        --body-text-line-spacing: 24px;

        --left-and-right-body-gutter: 10%;


    }

    .sideways-title {
        left: -130px;
        width: 350px;
        bottom: -40px;
        gap: 85px;
    }

    .sideways-title h1 {
        font-size: 20px;
        letter-spacing: 20px;
    }

    .straight-line {
        width: 180px;
    }


/* 
    this is the header section ====================================================================== */

    header{
        background-image: url(../assets/home/tablet/dark-image-hero-paramour-tablet.jpg);
        padding: 11rem 0rem 0rem 4rem;
        
        height: 800px;
    }
    .header-bottom-div{
        display: none;
    }




    /* 
    this is the main section ============================================================ */
    .welcome-section-top-div {
        padding-left: 0;
    }
    #welcome-section p{
        width: 100%;
        max-width: 900px;
    }

    .welcome-section-bottom-div {
        display: none;
    }




    #about-us-section{
        background-image: url(../assets/home/tablet/dark-image-small-team-tablet.jpg);
        padding-left: 100px;
    }





    .featured-section-bottom-section {
        flex-direction: column;
        gap: 30px;
    }

    .featured-section-bottom-section-div {
        height: 240px;
        width: 100%;
    }

    .featured-section-bottom-section h1 {
        right: 25px;
        opacity: .65;
        font-size: 240px;
        top: 10px;

    }

    .featured-section-bottom-section-div div {
        padding: 140px 0px 0px 40px
    }
    .Project-Del-Sol{
        background-image: url(../assets/portfolio/tablet/tablet-dark-image-del-sol.jpg);
    }
    .B-Tower{
        background-image: url(../assets/portfolio/tablet/tablet-dark-image-228b.jpg);
    }
    .Le-Prototype{
        background-image: url(../assets/portfolio/tablet/tablet-dark-image-prototype.jpg);
    }





    /* this is the footer section ================================================================ */
    footer {
        padding: 0;
        height: 130px;
       width: calc(100% - 200px);
        position: relative;
       
    }

    .footer-logo-div {
        padding-left: 30px;
        padding-right: 30px;
    }
    .footer-logo-div img{
        width: 65px;
    }
    .footer-nav {
        margin-right: 0;
        padding-left: 45px;
       gap: 45px;

    }
    .footer-nav a{
        font-size: 16px;
    }

    .footer-see-portfolio {
        transform: none;
        padding-top: 27px;
        padding-bottom: 27px;
        position: absolute;
        right: -200px;
        
    }
}







/* this is the mobile view ================================================================================================== */
@media screen and (max-width: 767px) {
    :root {
        --left-and-right-body-gutter: 0%;
        --mobile-left-and-right-body-gutter: 8%;
        --heading-xl-font-size: 250px;
        --heading-xl-line-spacing: 200px;


        --heading-l-font-size: 60px;
        --heading-l-line-spacing: 44px;


        --heading-med-font-size: 50px;
        --heading-med-line-spacing: 50px;


        --heading-sm-font-size: 32px;
        --heading-sm-line-spacing: 40px;



        --body-text-font-size: 18px;
        --body-text-line-spacing: 24px;
    }

    .sideways-title {
        display: none !important;
    }

    nav {
        margin: 40px 0px;
        padding: 0px var(--mobile-left-and-right-body-gutter);
        justify-content: space-between;
    }

    nav img {
        margin-right: 0px;
    }

    #mobile-hamburger-button {
        display: inline-block;
        border: none;
        background-color: white;
    }

    #mobile-hamburger-button:hover {
        cursor: pointer;
    }

    .mobile-navigation-list {
        display: none;
        flex-direction: column;
        background-color: var(--very-light-grey);
        position: absolute;
        top: 0px;
        gap: 25px;
        --left-pixel-amount: 30px;
        left: var(--left-pixel-amount);
        width: calc(100% - var(--left-pixel-amount));
        padding-left: 45px;
        padding-top: 50px;
        padding-bottom: 50px;



    }

    .mobile-navigation-list a {
        padding: 0;
        background-color: var(--very-light-grey);
        font-size: var(--heading-sm-font-size);
        color: var(--very-dark-blue) !important;

    }

    nav a {
        display: none;
    }





    /* header section ============================================== */

    header {
        padding: 0 var(--mobile-left-and-right-body-gutter);
        height: 600px;
        background-image: url(../assets/home/mobile/dark-image-hero-paramour.jpg);

    }

    .header-top-div {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    header div h1 {
        margin-bottom: 15px;
    }
    header div p {
        max-width: 450px;
    }

    header div p br {
        display: none;
    }

    .header-bottom-div button {
        display: none;
    }









    /* main section ============================================================= */

    #main-welcome-h1 {
        font-size: 0;
        background-color: var(--light-grey);
        width: 80px;
        height: 1.5px;
        position: static;
        margin-bottom: 80px;
        margin-left: var(--mobile-left-and-right-body-gutter)
    }

    #welcome-section {
        padding: 0px var(--mobile-left-and-right-body-gutter);
    }

    .welcome-section-top-div {
        padding-left: 0;
        margin-top: 0;
    }

    #welcome-section p {
        width: 100%;
    }

    .welcome-section-bottom-div {
        display: none;
    }





    #about-us-section {
        padding: 140px 0 0 45px;
        background-image: url(../assets/home/mobile/dark-image-small-team-mobile.jpg);
    }

    #about-us-section div h1 {
        margin-bottom: 35px;
    }






    #featured-section {
        padding: 0px var(--mobile-left-and-right-body-gutter);
        margin-bottom: 170px;
    }

    .featured-section-top-section a {
        display: none;
    }

    .featured-section-bottom-section {
        flex-direction: column;
        gap: 30px;
    }

    .featured-section-bottom-section-div {
        width: 100%;
        height: 250px;

    }

    .Project-Del-Sol {
        background-image: url(../assets/portfolio/mobile/mobile-dark-image-del-sol.jpg);
    }

    .B-Tower {
        background-image: url(../assets/portfolio/mobile/mobile-dark-image-228b.jpg);

    }

    .Le-Prototype {
        background-image: url(../assets/portfolio/mobile/mobile-dark-image-prototype.jpg);
    }

    .featured-section-bottom-section-div div {
        padding-top: 160px;
        padding-left: 30px;
    }

    .featured-section-bottom-section div h1 {
        display: none;
    }

    .mobile-see-all-anchor {
        display: flex;
        justify-content: center;
    }






    /* footer section ========================================================================================== */

    footer {
        flex-direction: column;
        background-color: var(--very-light-grey);
        height: auto;
    }


    .footer-logo-div {
        margin-bottom: 0px;
        padding: 50px 30px 50px 30px;
        transform: translateY(-70px);
    }

    .footer-nav {
        flex-direction: column;
        padding-left: 0;
        margin-right: 0px;

    }



    .footer-see-portfolio {
        margin-left: 0px;
        transform: none;
    }
}